.Error {
    color: red;
    text-align: center;
    font-weight: bold;
}

.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.Link {
    text-decoration: none;



}